<section id="widgets" role="complementary" style="background-color: rgba(0,0,0,0) !important;" {{! class="no-nav" }}>
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

  <a id="widgets-close">
    <span class="screen-reader-text">Close navigation</span>
    <img src="{{asset '/images/icon-menu-close.svg'}}">
  </a>

  <nav id="site-navigation" class="widget" role="navigation">

    <!-- Standard Blog Navigation -->
    <ul>
      <li><a href="/art">Art</a></li>
      <li><a href="/">Blog</a></li>
      <li><a href="/papers">Papers</a></li>
      <li><a href="/resume">Résumé</a></li>
    </ul>
  </nav>

  <!-- Categories Navigation -->
<!--   <aside id="meta" class="widget">
    <h1 class="widget-title">Custom Title</h1>
    <ul>
      <li><a href="/">Dummy link</a></li>
      <li><a href="/">Dummy link</a></li>
      <li><a href="/">Dummy link</a></li>
      <li><a href="/">Dummy link</a></li>
    </ul>
  </aside> -->

</section>
